**/.env
**/node_modules
**/.vscode
**/data
**/.DS_Store
**/proxy.log

# Will intend to use it when it's actually stable and minimal: 
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
# .yarn/*
# !.yarn/releases
# !.yarn/plugins
# .pnp.*